name: Publish Firefox Extension on Push

steps:
  - uses: trmcnvn/firefox-addon@v1
    with:
      # uuid is only necessary when updating an existing addon,
      # omitting it will create a new addon
      uuid: '{62e73e16-c99e-4090-be20-c93731bacf79}'
      xpi: build/popup.xpi
      manifest: manifest.json
      api-key: ${{ secrets.WEB_EXT_JWT_ISSUER }}
      api-secret: ${{ secrets.WEB_EXT_JWT_SECRET }}
